---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout title="Portfolio | Felipe Vera">
	<main>
		<SectionContainer>
			<Experience></Experience>
		</SectionContainer>
		<!-- <div class=" text-white w-full my-10 container mx-auto">
			<h1 class="text-5xl font-bold md:text-7xl flex text-start text-yellow-300 px-6">Projects</h1>
		</div -->
	</main>
</Layout>

<style>
	
</style>
