---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.astro'
---

<Layout title="Portfolio | Felipe Vera">
	<main>
		<SectionContainer id="experiencia">
			<div class="w-full">
				<h1 class="text-5xl font-bold md:text-7xl text-yellow-300 mb-10">Experiencia</h1>
			</div>
			<Experience />
		</SectionContainer>
		<div class="container mx-auto w-full md:h-screen flex flex-col justify-center items-center px-6" id="proyectos">
			<div class="w-full">
				<h1 class="text-5xl font-bold md:text-7xl text-yellow-300 mb-10">Proyectos</h1>
			</div>
			<Projects />
		</div>
		<SectionContainer id="contacto">
			<div class="w-full">
				<h1 class="text-5xl font-bold md:text-7xl text-yellow-300 mb-10">Contacto</h1>
			</div>
			<Contact />
		</SectionContainer>
	</main>
</Layout>

<style>
	
</style>
