---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
   {
      date: 'Noviembre 2023 - Actualidad',
      title: "Desarrollador Front End ",
      description: "Desarrollo de una interfaz dinámica y receptiva en Vue.js para una navegación fluida y experiencia intuitiva. Implementé componentes reutilizables, colaboré con el equipo Frontend para el diseño y prioricé la coherencia estética y usabilidad del sitio.",
      
   },
   {
      date: 'Abril 2021 - Agosto 2023',
      title: "Analista de procesos y Desarrollador Front End",
      description: "Automatización de procesos del área y gestión de HubSpot CRM. Experiencia en Google Data Studio. Creación de landings pages para Desafío Latam y proyectos externos. Además, tutor del curso Fundamentos de Desarrollo Web.",
    
   }
]
---



  
      <ol class="relative border-s border-gray-200 dark:border-gray-700 md:px-6">         
         {
            EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
               <ExperienceItem {...experience}/>
            </li>
            ))
         }         
         
        
      </ol>
   </div>





