<footer class="flex text-white container mx-auto items-center justify-center p-6 border">
   <a href="#top" class="font-bold md:text-3xl text-xl opacity-90 text-white hover:text-yellow-300 transition">Felipe Vera</a>
   
</footer>
