---
import LinkedinIcon from '../icons/Linkedin.astro'
import GithubIcon from '../icons/Github.astro'
import MailIcon from '../icons/Mail.astro'
import Socials from '../components/Socials.astro'
---

<header class="text-white w-full h-screen ">
   <div class="flex container mx-auto items-center justify-between p-6 opacity-90 animate-fade-down animate-duration-[2500ms] animate-delay-[1500ms]">
      <p class="font-bold md:text-3xl text-xl">Felipe Vera</p>
      <nav class="flex space-x-4 md:space-x-10">
         <a href="" class="hover:scale-125 transition"><p>Home</p></a>
         <a href="" class="hover:scale-125 transition"><p>Projects</p></a>
         <a href="" class="hover:scale-125 transition"><p>Contact</p></a>
      </nav>
   </div>
   <div class="w-full gap-3 px-6 container mx-auto flex flex-col justify-center items-start md:items-center h-5/6 opacity-90 animate-fade-up  animate-duration-[2500ms] animate-ease-in-out">
      <h1 class="text-5xl font-bold md:text-7xl">Felipe Vera</h1>
      <p class="text-2xl">Front End Developer</p>
      <p class="md:text-center md:w-[50%] text-pretty">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste eius ducimus nostrum maiores autem corrupti provident repellat. Iure ullam fuga ab fugit aspernatur, illo, eum recusandae quae rerum minus harum!</p>
      <div class="flex gap-x-3">
         <Socials href="https://github.com/pipevera">
            <GithubIcon></GithubIcon>
            Github
         </Socials>
         <Socials href="https://www.linkedin.com/in/felipeverach/">
            <LinkedinIcon></LinkedinIcon>
            Linkedin
         </Socials>
         <Socials href="mailto:felipevera10@gmail.com">
            <MailIcon></MailIcon>
            felipevera10gmail.com
         </Socials>
         
      </div>
   </div>
</header>

<style> 
header {
   /* background-image: linear-gradient(#0f0c29, #302b63); */
}
</style>