---
const {id} = Astro.props
---


<section id={id} class="container mx-auto w-full h-screen flex flex-col justify-center items-start md:items-center px-6">
   <div class=" text-white w-full container mx-auto ">
      
   </div>
   <slot />
</section>